<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>

  <body>
    <div class="container">
      <h2>Timeline</h2>
      <hr />
      <form action="/edit-message-form/<%= message._id %>" method="POST">
        <div class="post">
          <label for="name">Name</label>
          <input value="<%= message.name%>" type="text" id="name" name="name" />
        </div>
        <div class="post">
          <label for="textarea">Post a message</label>
          <textarea
            value="<%= message.message %>"
            name="message"
            id="textarea"
            cols="60"
            rows="5"
          ></textarea>
        </div>
        <button>Save</button>
      </form>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
